<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<title>{{ product.model }} 作业指导书</title>
<style>
{% include 'style.css.j2' %}
</style>
</head>
<body>

{% include 'cover.html.j2' %}

{% include 'toc.html.j2' %}

{%- for flow_chunk in flow_chunks %}
{% with flow_chunk=flow_chunk, flow_index=loop.index, flow_total=flow_chunks|length %}
{% include 'flow.html.j2' %}
{% endwith %}
{%- endfor %}

{%- for proc in process_pages %}
{% with proc=proc, total=processes|length %}
{% include 'process.html.j2' %}
{% endwith %}
{%- endfor %}

</body>
</html>
